body{
    background-image: radial-gradient(rgb(252, 134, 134) ,rgb(247, 213, 213), rgb(252, 134, 134));
    /* background-color: linear-gradient(to right red, yellow); */
}
.container{
    position: relative;
    background-color: rgb(247, 213, 213) ;
    box-shadow: 0px 0px 10px rgb(250, 115, 115);
    width: 500px;
    height: 550px;
    /* border: 5px solid black; */
    margin: 20px auto;
    text-align: center;
    border-radius: 13px;
}
h2{
    color: rgb(253, 100, 100);
    margin-top: -5px;
}
p{
    margin-top: -7px;
}
#cross{
    position: absolute;
    top: 485px;
    left: 435px;
    /* margin-left: 170px;
    margin-top: 360px; */
}
#inp{
    display: none;
    margin-top: 100px;
}
#ed{
    display: none;
    margin-top: 100px;
}
#text{
    border: 2px solid black;
}
td{
    position: relative;
    border-left: 2px solid rgb(255, 190, 190);
    border-bottom: 2px solid rgb(255, 190, 190);
    width: 350px;
    text-align: left;
    padding: 5px;
    background-color:rgb(255, 238, 238);
    border-radius: 30px;
    overflow: hidden;
}
#note{
    width: 400px;
    height: 400px;
    margin-left: 20px;
    overflow: scroll;
}
#delete{
    position: absolute;
    right: 10px;
    /* margin-left: 200px; */
}